// Configurable variables
params {
    // the genomic window size for calculating percent ID
    window = 500
    // where to place the results
    outdir = './results'
    gard = false
    gff = false
    nompi = false
    cpus = 1
}

process {
    time = 72.h
    memory = 4.GB
    cpus = 1
    container = 'brwnj/idplot:v1.1.3'
    cache = 'deep'
    errorStrategy = 'finish'
    withName: gard {
        time = 336.h
        memory = { 16.GB * task.attempt }
    }
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    enabled = true
    file = "${params.outdir}/logs/timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/logs/report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/logs/trace.txt"
}

manifest {
    name = 'brwnj/idplot'
    author = 'Joe Brown'
    description = "idplot: compare similar sequences to a reference"
    version = '1.0.0'
    nextflowVersion = '>=0.32.0'
    homePage = 'https://github.com/brwnj/idplot'
    mainScript = 'main.nf'
}
