// Configurable variables
params {
    // the genomic window size for calculating percent ID
    window = 1000
    // where to place the results
    outdir = './results'
}

process {
    time = 24.h
    memory = 4.GB
    cpus = 1
    container = 'brwnj/idplot:1.0.0'
    cache = 'deep'
    errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
}

profiles {
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.runOptions = '--bind /scratch'
        singularity.enabled = true
    }
    none {}
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    enabled = true
    file = "${params.outdir}/logs/timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/logs/report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/logs/trace.txt"
}

manifest {
    name = 'brwnj/idplot'
    author = 'Joe Brown'
    description = "idplot: compare similar sequences to a reference"
    version = '1.0.0'
    nextflowVersion = '>=0.32.0'
    homePage = 'https://github.com/brwnj/idplot'
    mainScript = 'main.nf'
}
